h1 {
    background-image: linear-gradient(to right, #286BC4, #26105A);
}

ul {
    list-style-type: none;
}

#search-btn {
    background-color: #286BC4;
    color: white;
}

.delete-btn {
    background-color: #b22222;
    color: white;
    display: block;
    width: 50%;
}

.history-btn {
    background-color: #ADD8E6;
    color: black;
    display: block;
    width: 100%;
}

